requirements:
1- videos
2- batch file
3- which program supports viewing RTSP video. (download link: "https://www.videolan.org/vlc/")
4- mediamtx server (download link: https://github.com/bluenviron/mediamtx/releases/download/v1.13.1/mediamtx_v1.13.1_windows_amd64.zip)
5- ffmpeg (download link: https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-essentials.zip)


-------------------------------------------------------------------------------------------------------------------------

operating steps:

1- Open the batch file ("1-Stream_RTSP.bat") in edit mode and modify FFMPEG_PATH and MEDIA_MTX_PATH as it is on your device.

-------------------------------------------------------------------------------------------------------------------------
start(manually):

1- open "1-Stream_RTSP.bat" --> This starts RTSP streaming from the videos.

2- watch stream:
	- open VLC media player
	- Media --> Open Network Stream
	- place the live stream link as specified in the batch file(rtsp://127.0.0.1:8554/cam1 or rtsp://127.0.0.1:8554/cam2)
	- Click on "play"

-------------------------------------------------------------------------------------------------------------------------
start(Automatically):

1- open cmd in "ExternalCamSys" folder

2- php artisan serve --port=8001

3- open another cmd in the same folder

4- php artisan streams:start


