requirements:
1- video
2- batch file
3- which program supports viewing RTSP video. (download link: "https://www.videolan.org/vlc/")


---------------------------------------------------------------------------------------------------------------------------------------

operating steps:

1- Open the batch file ("start_stream_and_record.bat") in edit mode and modify VIDEO_PATH, and VLC_PATH as it is on your device

2- open "start_stream_and_record.bat" --> This starts streaming from the video "sample.mp4"

3- watch stream:
	- open VLC media player
	- Media --> Open Network Stream
	- place the live stream link as specified in the batch file(rtsp://127.0.0.1:8554/mystream)
	- Click on "play"